<div class="landing-container">
  <div class="content">
    <h1>Bienvenido a Librería Java Books</h1>
    <p>Tu portal para descubrir y explorar los mejores libros.</p>

    <div class="features">
      <div class="feature">
        <div class="icon">📚</div>
        <h3>Catálogo Extenso</h3>
        <p>Accede a una amplia colección de libros.</p>
      </div>

      <div class="feature">
        <div class="icon">🔍</div>
        <h3>Búsqueda Inteligente</h3>
        <p>Encuentra rápidamente el contenido que necesitas con nuestras herramientas de búsqueda avanzada.</p>
      </div>

      <div class="feature">
        <div class="icon">📱</div>
        <h3>Acceso en Cualquier Dispositivo</h3>
        <p>Disfruta de la lectura en cualquier momento y lugar con nuestra aplicación multiplataforma.</p>
      </div>
    </div>

    <button class="login-button" (click)="loginUser()">Iniciar Sesión</button>
    <span class="spacer"></span>
    <button class="login-button" (click)="loginAdmin()">Iniciar Sesión como Administrador</button>
  </div>
</div>
